body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4; /* Background color */
  z-index: -1;

}

.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 290px;
  text-align: center;
  align-content: center;
}

h1 {
  margin-bottom: 15px;
  color: #459ae9; /* Heading color */
   /* Heading color */
}

h2 {
  background-color: #ffffff; /* Button color */
   /* Heading color */
  color:black; /* Heading color */
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  
}

.input-group input {
  width: 95%;
  padding: 11px;
  border: 2px solid #ccc;
  border-radius: 5px;
  align-self: center;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1e8cd6; /* Button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ad3250; /* Button hover color */
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #e94560; /* Link color */
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.forgetpass-link a:hover {
  text-decoration: underline;
}
